<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from new.uouapps.com/petra-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:15:16 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>

    <!--[if IE 9]>
      <script src="js/media.match.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Start Main-Wrapper -->
    <div id="main-wrapper">
        
        <!-- Start Header -->
        <header id="header">
            <div class="header-navi">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="bs-example-navbar-collapse-1">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <ul class="nav navbar-nav main-nav">
                                        <li class="active">@Html.ActionLink("Cuatrivago", "index", "Index")</li>
                                        <li class="has-submenu">
                                            <a href="">Submenu</a>
                                            <ul class="sub-menu custom-list">
                                                <li>@Html.ActionLink("Facilidades del hotel", "Facilities", "Index")</li>
                                                <li>@Html.ActionLink("Información hotel", "index", "Index")</li>
                                                <li><a href="">Submenu</a></li>
                                                <li class="has-submenu">
                                                    <a href="">Submenu</a>
                                                    <ul class="sub-menu custom-list">
                                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                                    </ul>
                                                </li>
                                                <li class="has-submenu">
                                                    <a href="">Submenu</a>
                                                    <ul class="sub-menu custom-list">
                                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-12 col-sm-offset-0">
                                    <ul class="nav navbar-nav main-nav pull-right text-right">
                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                        <li class="has-submenu">
                                            <a href="news.html">Submenu</a>
                                            <ul class="sub-menu custom-list">
                                                <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Submenu", "controlador", "vista")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Start Header-Toggle -->
        <div id="header-toggle">
            <i class="fa fa-bars"></i>
        </div>
        <!-- End Header-Toggle -->

        <!-- Start Header-Logo -->
        <div class="header-logo">
            <div class="header-logo-inner">
                <div class="css-table">
                    <div class="css-table-cell">
                        <a href="#">
                            <img src="~/Content/img/cuatrivago_logo.png" alt="" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header-Logo -->

        @RenderSection("content", false)

        <!-- Start Partners -->
        <section class="partners">
            <div class="container">
                <div class="row">
                    <div class="preamble col-md-12">
                        <h3>Anuncios</h3>
                    </div>
                    <div class="col-md-12">
                        <div id="clients-slider" class="owl-carousel">
                            @RenderSection("advertisement", false)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Partners -->

        <!-- Start Footer -->
        <footer id="footer">

            <!-- Start Footer-Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 logo-footer">
                            <img src="img/logo-footer.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-4 widget widget-about">
                            <h5 class="title">
                                About Us
                            </h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam sit amet lectus quis est congue mollis.</p>
                        </div>
                        <div class="col-md-4 widget widget-news">
                            <h5 class="title">
                                Latest News
                            </h5>
                            <ul class="custom-list">
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Proin nibh augue suscipit scelerisque</a></li>
                                <li><a href="#">Etiam pellentesque aliquet tellus</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 widget widget-newsletter">
                            <h5 class="title">
                                Newsletter
                            </h5>
                            <form action="#" class="default-form">
                                <input type="text" placeholder="Your email">
                                <button class="btn btn-transparent pull-right">Sign Up</button>
                            </form>
                            <div class="social">
                                <h5 class="title pull-left">
                                    Stay in touch
                                </h5>
                                <ul class="custom-list list-inline pull-right">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-Top -->
            <!-- Start Footer-Copyrights -->
            <div class="footer-copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2015 Â© PetraHotel. All rights reserved. Powered by <a href="#">UOUapps</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-Copyrights -->

        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Main-Wrapper -->
    <!-- Scripts -->
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="~/Content/js/gmap3.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/jquery.ba-outside-events.min.js"></script>
    <script src="~/Content/js/jqueryui.js"></script>
    <script src="~/Content/js/jquery.vide.min.js"></script>
    <script src="~/Content/js/tab.js"></script>
    <script src="~/Content/js/transition.js"></script>
    <script src="~/Content/js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>body>

    <!-- Mirrored from new.uouapps.com/petra-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:19:37 GMT -->
</html>

