@model CuatrivagoProject.Models.ModelForRoomList
@{
    Layout = null;
}
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<!-- Mirrored from new.uouapps.com/petra-html/listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:20:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/img/cuatrivago_logo.png" rel="shortcut icon">
    <title>Cuatrivago</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>
    <!--[if IE 9]>
      <script src="js/media.match.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Start Main-Wrapper -->
    <div id="main-wrapper">
        <!-- Start Header -->
        <header id="header">
            <div class="header-navi">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="bs-example-navbar-collapse-1">
                            <div class="row">



                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <ul class="nav navbar-nav main-nav">
                                        <li><a href="">@Html.ActionLink("Inicio", "index", "Index")</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-12 col-sm-offset-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start Header-Toggle -->
        <div id="header-toggle">
            <i class="fa fa-bars"></i>
        </div>
        <!-- End Header-Toggle -->
        <!-- Start Header-Logo -->
        <div class="header-logo">
            <div class="header-logo-inner">
                <div class="css-table">
                    <div class="css-table-cell">
                        <a href="#">
                            <img src="~/Content/img/cuatrivago_logo.png" alt="" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header-Logo -->
        <!-- Start Header-Section -->
        <section class="header-section listing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-section pull-left">
                            Habitaciones
                        </h3>
                    </div>
                </div>
            </div>
        </section>


        <!-- End Header-Section -->
        <section id="listing">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"> </div>

                    <div class="listing-content col-md-8">
                        @foreach (var item in Model.roomList)
                        {
                            <div class="listing-room-list">
                                <div class="thumbnail">
                                    <div class="thumbnail-slider">
                                        @foreach (var item2 in item.images)
                                        {
                                            <img src="@item2.path" alt="" class="img-responsive">
                                        }

                                    </div>
                                </div>
                                <div class="listing-room-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <header>
                                                <div class="pull-left">
                                                    <h5 class="title">
                                                        <a href="#">@item.description_</a>
                                                    </h5>
                                                    <ul class="tags custom-list list-inline pull-left">
                                                        <li><a href="#">1 Bed</a></li>
                                                        <li><a href="#">2 People</a></li>
                                                        <li><a href="#">Sea View</a></li>
                                                    </ul>
                                                </div>
                                                <div class="pull-right">

                                                    <span id="price" class="price">
                                                        @*@Html.DisplayFor(modelItem => item.colon)*@
                                                    </span>
                                                </div>
                                            </header>
                                            <div class="listing-facitilities">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="facilities-list custom-list">
                                                            <li><i class="fa fa-leaf"></i><span>AC</span></li>
                                                            <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                                                            <li><i class="fa fa-car"></i><span>Parking</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="facilities-list custom-list">
                                                            <li><i class="fa fa-female"></i><span>Room service</span></li>
                                                            <li><i class="fa fa-key"></i><span>Free safe</span></li>
                                                            <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="facilities-list custom-list">
                                                            <li><i class="fa fa-wifi"></i><span>WIFI access</span></li>
                                                            <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        @*<button class="btn btn-transparent-gray">
                                                            @*Html.ActionLink("Ver más", "Details", "DetailRoom", new { id = 1 }, null)*@
                                                        @*@Html.ActionLink("Reservar", "Details", "DetailRoom", new { idReservation = @item.idRoom, back = Model.back, dateIn = "", dateOut = "" }, null)
                                                            </button>*@
                                                        @if (Model.back == 0)
                                                        {
                                                            @*<button class="btn btn-transparent-gray" style="margin-top: 8px;">
                                                                @Html.ActionLink("test", "CreateReservation", "Reservation", new { idReservation= @item.idRoom, back = Model.back, dateIn="",dateOut="" }, null)

                                                                </button>*@
                                                            <button class="btn btn-transparent-gray" style="margin-top: 8px;">
                                                                @Html.ActionLink("Reservar", "Details", "DetailRoom", new { idReservation = @item.idRoom, back = Model.back, dateIn = "", dateOut = "" }, null)
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-transparent-gray" style="margin-top: 8px;">
                                                                @Html.ActionLink("Reservar", "Details", "DetailRoom", new { idReservation = @item.idRoom, back = Model.back, dateIn = Model.dateIn, dateOut = Model.dateOut }, null)
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @*<div class="listing-pagination footer">
                                <ul class="pagination custom-list list-inline text-center no-margin">
                                    <li class="prev"><a href="#">Prev</a></li>
                                    <li class="number"><a href="#">1</a></li>
                                    <li class="number"><a href="#">2</a></li>
                                    <li class="number"><a href="#">3</a></li>
                                    <li class="next"><a href="#">Next</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Footer -->
        <footer id="footer">
            @RenderSection("footer", false)
            <!-- Start Footer-Copyrights -->
            @*<div class="footer-copyrights">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Copyright 2015 Â© PetraHotel. All rights reserved. Powered by <a href="#">UOUapps</a></p>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- End Footer-Copyrights -->
        </footer>
        <!-- End Footer -->
    </div>

    <!-- End Main-Wrapper -->
    <!-- Scripts -->
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="~/Content/js/gmap3.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/jquery.ba-outside-events.min.js"></script>
    <script src="~/Content/js/jquery.vide.min.js"></script>
    <script src="~/Content/js/tab.js"></script>
    <script src="~/Content/js/transition.js"></script>
    <script src="~/Content/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript">
(function ($) {
    $.get = function (key) {
        key = key.replace(/[\[]/, '\\[');
        key = key.replace(/[\]]/, '\\]');
        var pattern = "[\\?&]" + key + "=([^&#]*)";
        var regex = new RegExp(pattern);
        var url = unescape(window.location.href);
        var results = regex.exec(url);
        if (results === null) {
            return null;
        } else {
            return results[1];
        }
    }
})(jQuery);
        
        $(".price").html($.get("priceC"));
    </script>
</body>
<!-- Mirrored from new.uouapps.com/petra-html/listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:20:06 GMT -->
</html>