@model CuatrivagoProject.Models.ModelForRoomList
@{
    Layout = null;
    //Layout = "~/Views/DetailRoom/Footer.cshtml";
}

<!doctype html>
<html lang="en">
<!-- Mirrored from new.uouapps.com/petra-html/single_post.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:21:04 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/img/cuatrivago_logo.png" rel="shortcut icon">
    <title>Cuatrivago</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link href="~/Content/css/myStyle.css" rel="stylesheet" />
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>
    <!--[if IE 9]>
      <script src="js/media.match.min.js"></script>
    <![endif]-->
    <script src="~/Content/js/alertify.js"></script>
    <link href="~/Content/css/alertify.core.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/AboutUsStyles.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="~/Content/css/alertify.css" rel="stylesheet" />
</head>
<body>
    <!-- Start Main-Wrapper -->
    <div id="main-wrapper">
        <!-- Start Header -->
        <header id="header">
            <div class="header-navi">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="bs-example-navbar-collapse-1">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <ul class="nav navbar-nav main-nav">
                                        <li><a href="">@Html.ActionLink("Inicio", "index", "Index")</a></li>
                                        <li><a href="">@Html.ActionLink("Habitaciones", "Details", "Room", new { id = 1 }, null)</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-12 col-sm-offset-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start Header-Toggle -->
        <div id="header-toggle">
            <i class="fa fa-bars"></i>
        </div>
        <!-- End Header-Toggle -->
        <!-- Start Header-Logo -->
        <div class="header-logo">
            <div class="header-logo-inner">
                <div class="css-table">
                    <div class="css-table-cell">
                        <a href="#">
                            <img src="~/Content/img/cuatrivago_logo.png" alt="" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header-Logo -->
        <!-- Start Header-Section -->
        <section class="header-section contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-section pull-left">
                            Habitación
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Header-Section -->
        <!-- Start News -->
        <section class="news">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/blog-1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="post-content">
                                <header class="post-header">
                                    <h5 class="pull-left title">
                                        <a href="single_post.html">Post title goes here</a>
                                    </h5>
                                    <span class="pull-right date">21 July 2014</span>
                                </header>                      
                                @*<p>Urna quam viverra nisi, in interdum massa nibh nec erat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.</p>*@
                                @RenderSection("description", false)
                                <div class="post-share">
                                    <p class="pull-left">Share this story</p>
                                    <ul class="custom-list social list-inline pull-right">
                                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fa fa-git-square"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">

                            <div class="sidebar-widget">
                                <h5 class="widget-title">Reservación</h5>

                                <div class="contact-box" style="width:100%;">
                                    <form action="/Reservation/Insert" method="post" class="contact-form default-form" id="commentForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="preamble col-md-12">
                                                    <h3 style="line-height:38px;">Hotel Cuatrivago Reservación</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input style="text-transform: uppercase; text-align: center; color: black" id="mail" name="mail" type="text" placeholder="Digite su correo" required>
                                            </div>
                                            <div class="col-md-12">
                                                <input style="text-transform: uppercase; text-align: center; color: black" id="name" name="name" type="text" placeholder="Nombre" required>
                                            </div>
                                            <div class="col-md-12">
                                                <input style="text-transform: uppercase; text-align: center; color: black" id="lastName" name="lastName" type="text" placeholder="Apellido" required>
                                            </div>
                                            <div class="col-md-12">
                                                <input style="text-transform: uppercase; text-align: center; color: black" id="cardNumber" name="cardNumber" type="number" placeholder="Número Tarjeta" required>
                                            </div>
                                            <div class="col-md-12">
                                                <input style="text-transform: uppercase; text-align: center; color: black" id="phone" name="phone" type="number" placeholder="Teléfono" required>
                                            </div>
                                            @if (@ViewBag.back == 0)
                                            {
                                                <div class="col-md-12">
                                                    <span class="arrival calendar">
                                                        <input style="text-transform: uppercase; text-align: center; color: black" type="text" id="arrival" name="arrival" placeholder="Desde" data-dateformat="yy-mm-dd" required>
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <div class="col-md-12">
                                                    <span class="departure calendar">
                                                        <input style="text-transform: uppercase; text-align: center; color: black" type="text" id="departure" name="departure" placeholder="Hasta" data-dateformat="yy-mm-dd" required>
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>

                                                <div class="col-md-8">
                                                    <h1 style="font-size: 17px; margin-left: 20px; margin-top: 10px" required>Recibir ofertas </h1>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="checkbox" style="margin-left: 20px;height:25px; width:25px" id="subscription" required>
                                                </div>
                                                <div class="col-lg-md text-center">
                                                    <button id="btnGet" class="btn btn-transparent-white">Reservar</button>
                                                </div>

                                            }
                                            else
                                            {

                                                <div class="col-md-8">
                                                    <h1 style="font-size: 17px; margin-left: 20px; margin-top: 10px" required>Recibir ofertas </h1>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="checkbox" style="margin-left: 20px;height:25px; width:25px" id="subscription" required>
                                                </div>
                                                <div class="col-lg-md text-center">
                                                    <button id="btnGet" class="btn btn-transparent-white">Reservar</button>
                                                </div>
                                                <div class="col-md-12">
                                                    <input name="arrival" id="arrival" style="margin: -30px; visibility: hidden;text-transform: lowercase; " value="@ViewBag.datein" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <input name="departure" id="departure" style="margin: -30px; visibility: hidden;text-transform: lowercase ; " value="@ViewBag.dateout" required>
                                                </div>
                                            }

                                        </div>
                                        <input style="visibility: hidden;position: relative; height: 0px; font-size: 1px ; margin: 0px" id="idRoom" name="idRoom" value="@ViewBag.id">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End News -->
        <!-- Start Partners -->
        <section class="partners partners-white">
            <div class="container">
                <div class="row">
                    <div class="preamble col-md-12">
                        <h3>Publicidad</h3>
                    </div>
                    <div class="col-md-12">
                        <div id="clients-slider" class="owl-carousel">
                            <img src="~/Content/img/company1.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company2.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company3.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company1.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company2.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company3.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company1.png" alt="" class="img-responsive">
                            <img src="~/Content/img/company2.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <!-- Trigger the modal with a button -->
            <button id="mod" style="visibility:hidden" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="mod" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cuatrivago</h4>
                        </div>
                        <div class="modal-body">
                            <p id="message"> </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Partners -->

        @*<footer id="footer">
            <!-- Start Footer-Copyrights -->
            <div class="footer-copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2015 Â© PetraHotel. All rights reserved. Powered by <a href="#">UOUapps</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer-Copyrights -->
        </footer>*@
        <footer id="footer">
            @RenderSection("footer", false)


            <!-- Start Footer-Copyrights -->
            @*<div class="footer-copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2015 Â© PetraHotel. All rights reserved. Powered by <a href="#">UOUapps</a></p>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- End Footer-Copyrights -->
        </footer>
        <!-- End Footer -->
    </div>
    <!-- End Main-Wrapper -->
    <!-- Scripts -->
    <link href="~/Content/css/alertify.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/js/AboutJS.js"></script>
    <script src="~/Content/js/alertify.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="~/Content/js/gmap3.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/jquery.ba-outside-events.min.js"></script>
    <script src="~/Content/js/jqueryui.js"></script>
    <script src="~/Content/js/jquery.vide.min.js"></script>
    <script src="~/Content/js/tab.js"></script>
    <script src="~/Content/js/transition.js"></script>
    <script src="~/Content/js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script>
        $("#commentForm").validate();
    </script>
    <script type="text/javascript">

        function createReservation() {
            $.ajax({
                type: "POST",
                url: "/Reservation/insert/",
                data: '{"name":"' + $.trim($("#name").val()) +
                    '","lastName":"' + $.trim($("#lastName").val()) +
                    '","mail":"' + $.trim($("#mail").val()) +
                    '","cardNumber":"' + $.trim($("#cardNumber").val()) +
                    '","phone":"' + $.trim($("#phone").val()) +
                    '","dateIn":"' + $.trim($("#arrival").val()) +
                    '","dateOut":"' + $.trim($("#departure").val()) +
                    '","idRoom":"' + $.trim($("#idRoom").val()) +
                    '","subscription":"' + $.trim($("#subscription").prop('checked')) + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == 15) {
                        $("#message").val("Lamentablemente la habitación ya está reservada.");
                    }
                    else if (data == -7) {
                        $("#message").val("No se puede reservar");
                    }
                    else {
                        $("#message").val("La habitación fue reservada con éxito.");
                    }
                    $("#message").text("La habitación fue reservada con éxito.");
                    $("#mod").click();
                },
                failure: function (data) {
                    $("#message").text("Error de red");
                    $("#mod").click();
                },
                error: function (data) {
                    $("#message").text("Error de red");
                    $("#mod").click();
                }
            });

            return false; // prevent default
        }
        $(document).ready(function () {
            $('#btnGet').click(function () {
                 $.ajax({
                    type: "POST",
                    url: "/Reservation/isAvaibleRoom/",
                    data: '{"arrival":"' + $.trim($("#arrival").val()) + '","departure":"' + $.trim($("#departure").val()) + '","idRoom":"' + $.trim($("#idRoom").val()) + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //alert(data + "1");
                        createReservation();
                    },
                    failure: function (data) {
                        alert(":59");
                        //alert(response.responseText);
                    },
                    error: function (data) {
                        alert(":60");
                        //alert(response.responseText);
                    }
                });

                return false; // prevent default
            });
        });
        window.onload = (function () {
            try {
                $("#mail").on('keyup', function () {
                    $.ajax({
                        type: "POST",
                        url: "/Reservation/AjaxMethod/",
                        data: '{email:"' + $.trim($("#mail").val()) + '"}',
                        //data: '{email:"' + $("#mail").val() + '"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.id == -1) {

                            }
                            else {
                                //alert($("#mail").val() + ' Bienvenido una vez mas a nuestro hotel.');
                                $("#message").text($("#mail").val() + ' Bienvenido una vez mas a nuestro hotel.');
                                $("#mod").click();
                                $("#name").val(data.name);
                                $("#lastName").val(data.lastName);
                                $("#cardNumber").val(data.creditCard);
                                $("#phone").val(data.phone);
                            }
                        },
                        failure: function (data) {
                            alert(":56");
                            //alert(response.responseText);
                        },
                        error: function (data) {
                            alert(":55");
                            //alert(response.responseText);
                        }
                    });
                }).keyup();
            } catch (e) { }
        }
        );
    </script>
</body>
<!-- Mirrored from new.uouapps.com/petra-html/single_post.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Mar 2017 03:21:08 GMT -->
</html>