@model CuatrivagoProject.Models.ModelsForIndex
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; bool temp = true;
}

@section description{
    @Model.Hotel.homeInformation
}
@section aboutus{
    @Model.Hotel.aboutUs
}

@section imagesHome{

    <div class="banner-bg">
        @foreach (var item in Model.imageHome)
        {
            <div class="banner-bg-item"><img src="@item.path" alt=""></div>
        }
    </div>

}

@section allRoomType
    {
    @foreach (var item in Model.roomType)
    {
        if (temp)
        {
            <option value="@item.idRoomType" active>@item.name</option>
            temp = false;
        }
        else
        {
            <option value="@item.idRoomType">@item.name</option>
        }
    }

}

@section rooms{
    @foreach (var item in Model.roomType)
    {
        <div class="col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
                <img src="@item.path" alt="" class="img-responsive">
                <div class="overlay-shadow">
                    <div class="overlay-content">
                        <div class="btn btn-transparent-white">@Html.ActionLink("Ver más", "Details", "Room", new { id = item.idRoomType }, null)</div>
                    </div>
                </div>
            </div>
            <h4 id="rooms">@item.name</h4>
        </div>
    }
}

@section facilitiesName{
    @{bool first = true;

        foreach (var item in Model.facilitie)
        {
            if (first)
            {
                first = false;

                <li class="active">
                    <a data-toggle="tab" href="#facilitie_@item.idFacilitie">
                        <h5 class="title">@item.name</h5>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a data-toggle="tab" href="#facilitie_@item.idFacilitie">
                        <h5 class="title">@item.name</h5>
                    </a>
                </li>
            }

        }
    }

}
@section facilitiesImageDescription{
    @{bool first = true;

        foreach (var item in Model.facilitie)
        {

            if (first)
            {
                first = false;

                <div id="facilitie_@item.idFacilitie" class="tab-pane fade in active">
                    @foreach (var itemi in item.image)
                    {
                        <img src="@itemi.path" alt="">
                    }
                    <header>
                        <h5><span style="background: black; color: white">&nbsp; @item.name &nbsp;</span></h5>
                    </header>
                    <p> <span style="background: black; color: white">&nbsp; @item.description_ &nbsp;</span></p>
                </div>
            }
            else
            {

                <div id="facilitie_@item.idFacilitie" class="tab-pane fade">
                    @foreach (var itemi in item.image)
                    {
                        <img src="@itemi.path" alt="">
                    }

                    <header>
                        <h5><span style="background: black; color: white">&nbsp; @item.name &nbsp;</span></h5>
                    </header>
                    <p> <span style="background: black; color: white">&nbsp; @item.description_ &nbsp;</span></p>
                </div>

            }

        }
    }
}
@{
    int count = 0, count2 = 0;

}
@section galleryGrid{
    @foreach (var item in Model.image)
    {
        if (count == 0)
        {
            <li data-target="#carousel-example-generic" data-slide-to="@count" class="active"></li>
        }
        else
        {
            <li data-target="#carousel-example-generic" data-slide-to="@count"></li>

        }
        count++;
    }

}
@section gallery{
    @foreach (var item in Model.image)
    {

        if (count2 == 0)
        {
            <div class="item active">
                <div class="item-image embed-responsive embed-responsive-16by9"
                     style="background-image: url('@item.path');">
                    <a href="#1"></a>
                    <div class="touch-control"></div>
                </div>
            </div>
        }
        else
        {
            <div class="item">
                <div class="item-image embed-responsive embed-responsive-16by9"
                     style="background-image: url('@item.path');">
                    <a href="#2"></a>
                    <div class="touch-control"></div>
                </div>
            </div>

        }
        count2++;
    }
}

@section result{
    @if (@ViewBag.result != null)
    {    <section class="partners">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="result">@ViewBag.result</p>
                    </div>
                </div>
            </div>
        </section>
    }
}
@section advertisement{
    @foreach (var item in Model.advertisement)
    {
        <div>
            @foreach (var item2 in item.image)
            {
                <a href="@Html.DisplayFor(modelitem => item.url)"><img src="@item2.path" alt="" class="img-responsive"></a>
            }
        </div>
    }
}
@section footer{
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget widget-about">
                        <h5 class="title">
                            Dirección
                        </h5>
                        <p style="color:white">
                            PO Box 16122 Avenida 0
                            Turrialba
                            Frente de la iglesia catolica
                        </p>
                        <p style="color:white">Visita Cuatrivago, abierto al público todos los días.</p>
                        <ul class="custom-list">
                            <li><a href="#">Ir al mapa</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4 widget widget-about">
                        <h5 class="title">
                            Contacto
                        </h5>
                        <p style="color:white">Fax: 25561343</p>
                        <p style="color:white">Teléfono: @Model.Hotel.phone</p>
                        <p style="color:white">Atención al cliente: @Model.Hotel.postMail</p>
                        <p style="color:white">Sugerencias: @Model.Hotel.email</p>
                    </div>

                    <div class="col-md-4 widget widget-news">
                        <h5 class="title">
                            Enlaces
                        </h5>
                        <ul class="custom-list">
                            <li><a href="#aboutus">Nosotros</a></li>
                            <li><a href="#about">Habitaciones</a></li>
                            <li><a href="#gallery">Galería</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright 2017© HotelCuatrivago. Todos los derechos reservados. Desarrollado por <a href="#"> CuatrivagoTeam</a></p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Facebook</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Instragram</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
