@model CuatrivagoProject.Models.ModelsForIndex

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section description{

    @Model.Hotel.homeInformation

}

@section rooms{


    <div class="col-md-3 col-sm-6 feature text-center">
        <div class="overlay">
            <img src="~/content/img/about1.jpg" alt="" class="img-responsive">
            <div class="overlay-shadow">
                <div class="overlay-content">
                    <div class="btn btn-transparent-white">@Html.ActionLink("Ver más", "Details", "Room", new { id = 1 }, null)</div>
                </div>
            </div>
        </div>
        <h4 id="rooms">Habitaciones</h4>
        <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.</p>
    </div>


}


@section facilitiesName{
    @{bool first = true;

        foreach (var item in Model.facilitie)
        {
            if (first)
            {
                first = false;
                <li class="active">
                    <a data-toggle="tab" href="#facilitie_@item.idFacilitie">
                        <h5 class="title">@item.name</h5>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a data-toggle="tab" href="#facilitie_@item.idFacilitie">
                        <h5 class="title">@item.name</h5>
                    </a>
                </li>
            }

        }
    }


}


@section facilitiesImageDescription{
    @{bool first = true;

        foreach (var item in Model.facilitie)
        {

            if (first)
            {
                first = false;
                <div id="facilitie_@item.idFacilitie" class="tab-pane fade in active">
                    <img src="@item.path" alt="">
                    <header>
                        <h5 class="title">@item.name</h5>
                    </header>
                    <p>@item.description_</p>
                </div>
            }
            else
            {
                <div id="facilitie_@item.idFacilitie" class="tab-pane fade">
                    <img src="@item.path" alt="">
                    <header>
                        <h5 class="title">@item.name</h5>
                    </header>
                    <p></p>
                </div>
            }

        }
    }

}

@section galery{

    <h3>Agregar carousel aquí</h3>


}

@section advertisement{

    @foreach (var item in Model.advertisement)
    {
        <div>
            <a href="@Html.DisplayFor(modelitem => item.url)"><img src="@Html.DisplayFor(modelitem => item.path)" alt="" class="img-responsive"></a>
        </div>

    }
}

