@model CuatrivagoProject.Models.ModelsForIndex

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section description{

    @Model.Hotel.homeInformation

}

@section rooms{

    @foreach (var item in Model.roomType)
    {
        <div class="col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
                <img src="@item.path" alt="" class="img-responsive">
                <div class="overlay-shadow">
                    <div class="overlay-content">
                        <div class="btn btn-transparent-white">@Html.ActionLink("Ver más", "Details", "Room", new { id = item.idRoomType }, null)</div>
                    </div>
                </div>
            </div>
            <h4 id="rooms">@item.name</h4>
            <p>
                Precio en dolares = @item.priceColon
                <br />
                Precio en colones = @item.priceDolar
                <br />
                Cantidad de habitaciones = @item.quantity
                <br />
                @item.description_
            </p>
        </div>
    }
 }


@section facilitiesName{
    @{bool first = true;

        foreach (var item in Model.facilitie)
        {
            if (first)
            {
                first = false;

                <li class="active">
                    <a data-toggle="tab" href="#facilitie_@item.idFacilitie">
                        <h5 class="title">@item.name</h5>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a data-toggle="tab" href="#facilitie_@item.idFacilitie">
                        <h5 class="title">@item.name</h5>
                    </a>
                </li>
            }

        }
    }


}


@section facilitiesImageDescription{
    @{bool first = true;

        foreach (var item in Model.facilitie)
        {

            if (first)
            {
                first = false;

                <div id="facilitie_@item.idFacilitie" class="tab-pane fade in active">
                    <img src="@item.path" alt="">
                    <header>
                        <h5 class="title">@item.name</h5>
                    </header>
                    <p>@item.description_</p>
                </div>
            }
            else
            {
                <div id="facilitie_@item.idFacilitie" class="tab-pane fade">
                    <img src="@item.path" alt="">
                    <header>
                        <h5 class="title">@item.name</h5>
                    </header>
                    <p>@item.description_</p>
                </div>
            }

        }
    }

}

@section galery{

    <h3>Agregar carousel aquí</h3>


}

@section advertisement{

    @foreach (var item in Model.advertisement)
    {
        <div>
            <a href="@Html.DisplayFor(modelitem => item.url)"><img src="@Html.DisplayFor(modelitem => item.path)" alt="" class="img-responsive"></a>
        </div>

    }
}

